nav {
    display: none;
}

#menu {
    display: block;
}

side-nav .nav__list {
    display: block;
    transform: translateX(-365px);
    height: 100%;
    width: 60%;
    background-color: white; 
    transition: transform 0.4s ease;
    box-shadow: 1px 0px 15px 1px #00000061;
    position: fixed;
    overflow-y: auto;
    margin: 0px;
}

blockquote {
    padding-inline-start: 20px;
}