[contenteditable=true]:empty:before {
    content: attr(data-placeholder);
}

#editor_title > h4 {
    outline: none;
}

.editable > p, .result > p {
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
    font-weight: 400;
    font-style: normal;
}